@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:"Poppins" ;
body {
    background-color: rgb(21, 33, 34);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: rem auto;
    max-width: 1200;
    
}
.navigation ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    padding-top: 1rem
    
}
.navigation a {
    text-decoration: none;
    color: aliceblue;
}

.navigation a:hover {
    color:rgb(43, 126, 90);
}
hr {
    opacity: 20%;
    
}
.oa {
    padding-top: 1rem;
     
}
.bb {
    display: flex;
    justify-content: space-between;
    margin: 5rem auto;
    align-items: center;
    max-width: 1200px;
}
 .bb {
    align-items: center;
    display: flex;
 }
 .aboutMe {
    display: flex;
    font-size: large;
    
 }
 .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
 }
 .arrow {
    position: absolute;
    transform: translateX(-4.5rem)
    translateY(1.2rem);
    
 }
  .heroSub {
    display: flex;
    flex-direction: column;
    gap: 0.rem;
  }
  .name {
    font-size: 3rem;
    color: rgb(255, 255, 255);
  }
  .title {
    font-size: 4rem;
    color: rgb(22, 99, 100);
  }
  .heroBtns {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  .hireMe {
    background-color: rgb(10, 86, 88);
    color: rgb(255, 255, 255);
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px #00000080;
  }
  .cv {
    background-color: rgb(59, 56, 56);
    color: rgb(255, 255, 255);
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px black;
    display: flex;
    align-items: center;
    gap: 0.5;
    backdrop-filter: blur (4px);
  }
  .aboutMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
    gap: 10rem;
  }
  .textContainer {
    display: flex;
    flex-direction: column;
  }
  .textTitle {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
  }
  .aboutName {
    color: white;
  }
  .aboutTitle {
    color: rgb(21, 103, 90);
  }
  .aboutMePar {
    text-align: justify;
    color: rgb(24, 112, 120);
  }
  .works {
    background-image: url(assets/svg/background.svg);
    padding: 10rem 10rem;
    margin: 5rem 0rem;
  }
  .worksContainer {
    display: flex;flex-direction: column;
    justify-content: space-around;
    align-items: left;
    margin: 5rem auto;
    max-width: 1200px;
  }
  .projectTitle {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    font-size: 2rem;
  }
  .works ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
  }
  .works li {
    border-radius: 16px;
    backdrop-filter: blur (4px);
    padding: 1rem 4rem;
    background-color: rgba(57, 62, 70, 0.5);
  }
  .works li img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    transition: transform 0.2s;
  }
  .works li :hover {
    transform: scale(1.5);
  }
  .contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
  }
  .contactTitle  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 2rem;
  }
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    gap: 20rem;
  }
  .contact h3, .contact a {
    color: white;
    text-decoration: none;
  }
  .emailAndPhone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  .socialMedia a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    backdrop-filter: blur(4px);
    padding: 1rem;
  }
  .socialMedia img {
    width: 50px;
    height: 50px;
  }
 footer {
  color: rgb(255, 255, 255);
  padding: 2rem;
  text-align: center;
  color: rgb(255, 255, 255);
  opacity: 20%;
 }
  @media (max-width : 1023px) {
    header {
      margin-left: 1rem;
      margin-right:1rem;
      
    }
    .hero {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
    .heroImg {
      width: 400px;
    }
    .mame, .title {
      font-size: 2rem;
    }
    .arrow {
      display: none;
    }
    .aboutMe {
      flex-direction: column-reverse;
      align-items: center;
      gap: 2rem;
    }
    .textContainer {
      align-items: center;
      margin: 0rem 5rem;
      gap: 1rem;  
    }
    .aboutName, .aboutTitle {
      font-size: 2rem;    
    }
    .light {
      width: 60px;
    }
    .aboutMeImg {
      width: 400px;
    }
    .works {
      padding: 0;
    }
    .worksContainer {
      padding: 5rem 0rem;
      gap: 3rem;
    }
    .projectTitle {
      margin-left: 1rem;
    }
    .works ul {
      flex-direction: column;
      gap: 1rem;
    }
    .contactContainer {
      margin: 10rem 5rem;
      gap: 2rem;
    }
    .contact {
      flex-direction: column;
      gap: 1rem;
      margin-right: 0;
    }

  }